.HeaderBar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

.HeaderBar-title {
  margin: 0;
}

.HeaderBar-tagline {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 200;
  color: #999;
}