{% css "css/donorbanner.css" %}
<style>
header { padding-top: 80px; }
header nav { float: right; }
</style>
<div id="donor_banner" class="minimize-donorbanner donorbanner_2">
    <div class="donorcontainer">
        <div class="bubble">
            <button value="play" href="" class="notnow toggleButton">Not now</button>
        </div>
        <a class="sf_logo" href="http://sunlightfoundation.com">Sunlight Foundation</a>
        <p class="because quote">
            &ldquo;Sunlight was one of the first organizations to really engage the technology community around improving government, and the organization has continued to inspire and leverage people with these critical skills in this important task. They are the leaders in a movement that matters.&rdquo;
            <span class="attribution">&mdash; <em>Jen Pahlka</em>, Founder of Code for America</span>
        </p>
        <div class="donationplea">
            <h2>
                <span class="line1">We depend </span>
                <span class="line2">on the generosity</span>
                <span class="line3">of our supporters</span>
            </h2>
            <p>
                <em>Become part of the open gov movement.</em>
                </br>Donate to the Sunlight Foundation today!
            </p>
            <a class="btn" href="https://services.myngp.com/ngponlineservices/contribution.aspx?X=pN5xOOAPDx4j6MuI7lJdxYwP2rX9VsUMCpQB7CW3zQWMH2bokgwiQQ%3d%3d">Donate</a>
        </div>
    </div>
</div>
{% js "js/donorbanner.js" %}