{% load capwords %}
{% for tick in chart_ticks %}
    {% if forloop.last and not chart_anchor_year %}
        <li class="tick last">{{ tick|date:"'y" }}</li>
    {% else %}
        {% with single=1 %}
        {% with total=chart_ticks|length|subtract:1|add:chart_ticks_remainder %}
        <li class="tick" style="width:{{ single|divided_by:total }}%;">{{ tick|date:"'y" }}</li>
        {% endwith %}
        {% endwith %}
    {% endif %}
{% endfor %}
{% if chart_anchor_year %}
        <li class="tick last">{{ chart_anchor_year|date:"'y" }}</li>
{% endif %}