<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" > 
    <head> 
        <meta name="keywords" content="" /> 
        <meta name="description" content="" /> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
        <title>Capitol Words</title> 
        <style type="text/css"> 
            div#pageMain { width: 960px; margin: 0 auto;}
            h1 { background: url(images/logo.jpg) top left no-repeat; text-indent: -9999em; display: block; width: 274px; height: 82px; margin-top: 50px;}
            div#message { text-align: center; margin-top: 100px; font-size: 180%; color: #294863; }
            body{ font-size: 82%; line-height: 20px; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; }
        </style> 
 
    </head> 
    <body class="home"> 
        <div id="pageMain"> 
            <h1><big>Capitol Words</big><small>Taking Congress at it's Word: Word Frequency from the Congressional Record</small></h1> 
            <div id="message">Coming soon</div> 
        </div> 
    </body> 
</html> 
