{% extends "cwod/base.html" %}
{% block og_title %}About Capitol Words{% endblock %}
{% block title %}About | {{ block.super }}{% endblock %}
{% block content %}
<body id="about">
    <div id="main">
        <div id="internalHead">
                <h2>About</h2>
                <div class="clear"></div>
        </div>
        <div id="ltColumn">
            <div class="module">
                <p>For every day Congress is in session, Capitol Words visualizes the most frequently used words in the Congressional Record, giving you an at-a-glance view of which issues lawmakers address on a daily, weekly, monthly and yearly basis. Capitol Words lets you see what are the most popular words spoken by lawmakers on the House and Senate floor.</p>
            </div>
            <div class="module">
                <div class="rightHeader">
                    <h3>Methodology</h3>
                </div>
                <p>The contents of the Congressional Record are downloaded daily from the <a href="http://www.gpo.gov/fdsys/browse/collection.action?collectionCode=CREC">website of the Government Printing Office</a>. The GPO distributes the Congressional Record in ZIP files containing the contents of the record in plain-text format.</p>
                <p>Each text file is parsed and turned into an XML document, with things like the title and speaker marked up. The contents of each file are then split up into words and phrases -- from one word to five.</p>
                <p>The resulting data is saved to a search engine.</p>
                <p>Capitol Words has data from 1996 to the present.</p>
            </div>
            <div class="module">
                <div class="rightHeader">
                    <h3>Words/phrases over time</h3>
                </div>
                <p>The graphs on the Capitol Words site that show the occurrences of words and phrases over time do so by using the relative frequency of the word or phrase. That is, the number of times the given word or phrase occurred divided by the total number of words or phrases of that size for that time period, multiplied by 100. This gives a better idea of how popular a term really was because it takes into account how much action there was in Congress in that time period.</p>
            </div>
            <div class="module">
                <div class="rightHeader">
                    <h3>Popular words/phrases</h3>
                </div>
                <p>To calculate the top words and phrases for each entity, Capitol Words uses a weighted formula similar to <a href="http://en.wikipedia.org/wiki/Tf-idf">term frequency–inverse document frequency</a>. This formula gives a higher weight to words and phrases used more frequently by the given entity than by others.</p>
            </div>
            <div class="module">
                <div class="rightHeader">
                    <h3>API</h3>
                </div>
                <p>The Capitol Words site runs on a built-in API, which is available to developers. To begin using the API, register for an API key at <a href="http://services.sunlightlabs.com/accounts/register/">Sunlight Data Services</a>.</p>
                <p>The following methods are provided:</p>
                <h4>dates.json</h4>
                <p>Show the popularity of a phrase over a period of time.</p>
                <h5>Required arguments</h5>
                <dl>
                    <dt>apikey</dt>
                    <dd> </dd>
                    <dt>phrase</dt>
                    <dd>The phrase to search for.</dd>
                </dl>
                <div class="clear"></div>
                <h5>Optional arguments</h5>
                <dl>
                    <dt>state</dt>
                    <dd>Limit results to members of Congress from the given state.</dd>

                    <dt>party</dt>
                    <dd>Limit results to members of Congress from the given party.</dd>

                    <dt>bioguide</dt>
                    <dd>Limit results to the member of Congress with the given Bioguide ID.</dd>

                    <dt>chamber</dt>
                        <dd>The chamber to search. Default is House, Senate and extensions of remarks.
                        <span>Valid values:</span>
                        <ul>
                            <li>house,</li>
                            <li>senate,</li>
                            <li>extensions,</li>
                        </ul>
                    </dd>
                    <dt>dat</dt>
                    <dd>Show results for only the given date.</dd>

                    <dt>start_date</dt>
                        <dd>Limit results to those on or after the given date.</dd>
                    <dt>end_date</dt>
                        <dd>Limit results to those on or before the given date.</dd>
                    <dt>granularity</dt>
                        <dd>The length of time covered by each result
                        <span>Valid values:</span>
                        <ul>
                            <li>year, </li>
                            <li>month, </li>
                            <li>day (default) </li>
                        </ul>
                        </dd>
                </dl>
                <div class="clear"></div>

                <h4>phrases.json</h4>
                <p>List top phrases.</p>

                <h5>Required arguments</h5>
                <dl>
                    <dt>apikey</dt>
                    <dd></dd>
                </dl>
                <div class="clear"></div>


                <h5>Optional arguments</h5>
                <dl>
                    <dt>n</dt>
                        <dd>The size of phrase, in words, to search for (up to 5).</dd>
                    <dt>start_date
                        <dd>
                                Limit results to those starting at the given date.
                                <span>If this argument is supplied, end_date is required.</span>
                        </dd>
                    <dt>end_date
                        <dd>
                                Limit results to those ending at the given date.
                                <span class="tip">If this argument is supplied, start_date is required.</span>
                        </dd>
                    <dt>entity_type</dt>
                        <dd>
                            The entity type.
                            <span>Valid values:</span>
                            <ul>
                                <li>state,</li>
                                <li>party,</li>
                                <li>legislator,</li>
                                <li>bioguide,</li>
                            </ul>
                            <span class="tip">If this argument is supplied, entity_value is required.</span>
                        </dd>
                    <dt>entity_value</dt>
                        <dd>
                        The value of the entity given in entity_type.
                        <span class="tip">If this argument is supplied, entity_type is required.</span>
                        </dd>
                    <dt>page</dt>
                        <dd>
                        The page of results to show.
                        <span class="tip">100 results are shown at a time. To get more than 100 results, use the page parameter.</span>
                        </dd>
                    <dt>stemmed</dt>
                        <dd>
                        Set as 'true' to use stemming in top-word list.
                        <span class="tip">Note that this works only if n=1</span>
                    </dd>
                    <dt>chamber</dt>
                        <dd>
                        The chamber to search. Default is House, Senate and extensions of remarks.
                        <span>Valid values:</span>
                        <ul>
                            <li>house,</li>
                            <li>senate,</li>
                            <li>extensions,</li>
                        </ul>
                    </dd>
                </dl>
                <div class="clear"></div>

                <h4>text.json</h4>
                <p>Full-text search by phrase.</p>

                <h5>Optional arguments</h5>
                <dl>
                    <dt>phrase</dt>
                    <dd>The text to search for.</dd>
                    <dt>start_date</dt>
                    <dd>
                        Limit results to those starting at the given date.
                        <span class="tip">If this argument is supplied, end_date is required.</span>
                    </dd>
                    <dt>end_date</dt>
                    <dd>
                        Limit results to those ending at the given date.
                        <span class="tip">If this argument is supplied, start_date is required.</span>
                    </dd>
                    <dt>entity_type</dt>
                    <dd>
                        The entity type.
                        <span>Valid values:</span>
                        <ul>
                            <li>state,</li>
                            <li>party,</li>
                            <li>legislator,</li>
                            <li>bioguide,</li>
                        </ul>
                        <span class="tip">If this argument is supplied, entity_value is required.</span>
                    </dd>
                    <dt>entity_value</dt>
                    <dd>
                        The value of the entity given in entity_type.
                        <span class="tip">If this argument is supplied, entity_type is required.</span>
                    </dd>
                    <dt>cr_pages</dt>
                    <dd>
                        The pages in the Congressional Record to search.
                    </dd>
                    <dt>page</dt>
                    <dd>
                        The page of results to show.
                        <span class="tip">100 results are shown at a time. To get more than 100 results, use the page parameter.</span>
                    </dd>
                </dl>
                <div class="clear"></div>

        </div>
        </div>
        <div class="clear"></div>

    </div>
</body>
{% endblock %}
