{% load media %}

<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>        <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>        <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>        <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="description" content="">

        <title>{% block title %}Capitol Words{% endblock title %}</title>
    
        {% css "css/main.css?v=929234192" %}
        {% css "css/jquery.ui/jquery.ui.all.css" %}

        <!--[if IE 7]>{% css "css/buggy_7.css" %}<![endif]-->
        {% endblock head %} 
    </head>

    <body>
        {% block body %}
        <div id="containerWrapper">
        <div id="container">
            <header>
                <nav>
                    <ul>
                        <li class="last"><a href="{% url cwod_state_list %}">States</a></li>
                        {#<li><a href="#">Parties</a></li>#}
                        <li><a href="{% url cwod_legislator_list %}">Legislators</a></li>
                        <li><a href="{% url cwod_calendar %}">Calendar</a></li>
                    </ul>  
                    <div class="clear"></div>  
                </nav>    
                <h1><a href="/">Capitol Words <small>a project of the Sunlight Foundation</small></a></h1>
                <ul id="mainActions">
                    <li>
                        <form id="mainSearch" action="/search/" method="get">
                            <label for="id_search">Search</label>
                            <input id="id_search" type="text" name="term" value="{% if search %}{{ term }}{% endif %}"/>
                            <button class="searchBtn" type="submit">
                                <span>Search</span>
                            </button>
                        </form>
                    </li>
                    <li id="betweenItem">
                        <span>or</span>
                    </li>    
                    <li>
                    <a href="{% url cwod_home %}">Compare Congressional Words and/or Phrases</a>
                    </li>
                </ul>
                <div class="clear"></div>
            </header>
            {% block content %}
            {% endblock content %}
        </div>
        </div>
        <footer>
            <div id="navWrapper">
                <nav>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul> 
                    <div class="clear"></div>   
                </nav>  
            </div>  
            <div id="footerContentWrapper">
                <div id="footerContent">
                    <div id="popularPages">
                        <h5>Suggested Pages</h5>
                        <ol>
                            <li><a href="/term/obama">obama</a></li>
                            <li><a href="/term/health_care">health care</a></li>
                            <li><a href="/term/debt_ceiling">debt ceiling</a></li>
                            <li><a href="/state/TX">Texas</a></li>
                            <li><a href="/state/IA">Iowa</a></li>
                            <li><a href="/legislator/B001256-michele-bachmann">Michele Bachmann</a></li>
                            <li><a href="/legislator/K000148-john-kerry">John Kerry</a></li>
                            <li><a href="/legislator/P000583-ron-paul">Ron Paul</a></li>
                            {% comment %}
                            <li><a href="#">Page Name</a></li>
                            <li><a href="#">Page Name</a></li>
                            <li><a href="#">Page Name</a></li>
                            <li><a href="#">Page Name</a></li>
                            <li><a href="#">Page Name</a></li>
                            {% endcomment %}
                        </ol>    
                    </div>    
                    <div id="popularWords">
                        <h5>Recently popular words</h5>
                        <table>
                            <tbody>
                                {% for date, ngrams in recent_top_unigrams %}
                                <tr class="{% cycle 'even' 'odd' %}">
                                    <td span class="date"><a href="{{ ngrams.0.date_url }}">{{ date }}</a></span></td>
                                    <td>
                                        {% for ngram in ngrams|slice:"5" %}
                                        <a href="{% url cwod_term_detail ngram.ngram %}">{{ ngram }}</a>{% if not forloop.last %},{% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endfor %}

                                {% comment %}
                                <tr class="odd">
                                    <td><span class="date">January 1, 2010</span></td>
                                    <td><a href="#">Word of the Day</a></td>
                                    <td>Spoken 300 times</td>
                                </tr>  
                                <tr>
                                    <td><span class="date">January 1, 2010</span></td>
                                    <td><a href="#">Word of the Day</a></td>
                                    <td>Spoken 300 times</td>
                                </tr>
                                <tr class="odd">
                                    <td><span class="date">January 1, 2010</span></td>
                                    <td><a href="#">Word of the Day</a></td>
                                    <td>Spoken 300 times</td>
                                </tr>
                                <tr>
                                    <td><span class="date">January 1, 2010</span></td>
                                    <td><a href="#">Word of the Day</a></td>
                                    <td>Spoken 300 times</td>
                                </tr>
                                <tr class="odd">
                                    <td><span class="date">January 1, 2010</span></td>
                                    <td><a href="#">Word of the Day</a></td>
                                    <td>Spoken 300 times</td>
                                </tr>  
                                {% endcomment %}
                            <tbody>    
                        </table>  
                   </div>
                  <div class="clear"></div>
                </div>
            </div>
            <div id="footerSunlight">
                <div id="bottomFooter">
                    <a id="sfLogo" href="http://www.sunlightfoundation.com">Sunlight Foundation</a>
                    <p id="privacyPolicy">Founded in 2006, the Sunlight Foundation is a non-partisan non-profit that uses cutting-edge technology and ideas to make government transparent and accountable. Visit <a href="http://sunlightfoundation.com">SunlightFoundation.com</a> to learn more.</p>
                    <div class="clear"></div>
                    <div id="signup">
                        <div id="signupText">
                            <h6>Like this project and want to discover and support others like it?</h6>
                            <span>Join the Sunlight Foundation's open government community to learn more</span>
                        </div>
                        <form id="signUp" action="" method="">
                            <ul>
                                <li>
                                    <input type="text" name="email"/>
                                </li>
                                <li>
                                    <input type="text" name="zip"/>
                                </li>
                                <li>
                                    <button class="fullButton" type="submit">
                                        <span>Sign Up</span>
                                    </button>
                                </li>    
                            </ul>   
                            <div class="clear"></div>
                        </form>    
                    </div>    
                </div> 
            </div>   
        </footer>        
        {% block javascript %}

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

        {% js "js/underscore/underscore-min.js" %}
        {% js "js/spin/spin.min.js" %}
        <script>if ( typeof window.JSON === 'undefined' ) { document.write('<script src="/media/js/history/scripts/compressed/json2.js"><\/script>'); }</script>
        {% js "js/history/scripts/compressed/amplify.store.js" %}
        {% js "js/history/scripts/compressed/history.adapter.jquery.js" %}
        {% js "js/history/scripts/compressed/history.js" %}
        {% js "js/history/scripts/compressed/history.html4.js" %}

        {% js "js/jquery.ui/jquery.ui.core.js" %}
        {% js "js/jquery.ui/jquery.ui.widget.js" %}
        {% js "js/jquery.ui/jquery.ui.mouse.js" %}
        {% js "js/jquery.ui/jquery.ui.slider.js" %}

        {% js "js/emphasis/emphasis.js" %}

        {% js "js/google-chart.js" %}
        {% js "js/capwords-new.js?v=99234299" %}
        {% endblock javascript %}

    </body>
</html> 

        {% endblock body %}
