{% extends "cwod/base.html" %}
{% load capwords %}
{% load typogrify_tags %}

{% block og_title %}Calendar{% endblock %}
{% block title %}Calendar | {{ block.super }}{% endblock title %}

{% block content %}
<body id="calendar">
            <div id="main">
                <div id="internalHead">
                    <h2>Calendar</h2>
                    <div class="clear"></div>
                </div>
                <div id="fullColumn">
                    <div class="module">
                        <ul class="normalList">
                            {% for year, months in years %}
                            <li><h4>{{ year }}</h4>
                                {% for monthnum, monthname, active in months %}
                                  {% if active %}
                                    <a href="{% url cwod_month_detail year=year month=monthnum %}">{{ monthname }}</a>{% if not forloop.last %}&nbsp;&nbsp;&nbsp;{% endif %}
                                  {% else %}
                                    {{ monthname }}{% if not forloop.last %}&nbsp;&nbsp;&nbsp;{% endif %}
                                  {% endif %}
                                {% endfor %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
</body>
{% endblock content %}
