{% extends "cwod/base.html" %}

{% load capwords %}
{% load typogrify_tags %}
{% load media %}

{% block og_title %}Compare words and phrases{% endblock %}
{% block title %}Compare words and phrases | {{ block.super }}{% endblock title %}

{% block content %}
<style type="text/css">
    .termHolder { float: left; width: 220px; margin-right: 40px; }
    .termHolder select { width: 100%; }
    .termHolder label { display: none; }
    .termHolder input { width: 200px; }
    #chart img { border: 0 !important; }
    .compareResult .partyPieChart { margin-bottom: 40px; }
    .compareResult .partyPieChart img { border: 0 !important }
    .compareResult h4 { display: none; }
    .termLabelHeader { height: 20px; margin: 10px 0; }
    img.realChart { display: none; }
    .compareResult a { text-align: right; }
</style>
    <div id="main">

        <div id="internalHead">
            <h2 class="withButton">Compare words and phrases</h2>
            <div class="clear"></div>
        </div>

        <div id="ltColumn" class="withButton">
            <div class="module">
                <form name="termSelect" id="termSelect" class="normalForm">
                    <div class="termHolder">
                        <label for="terma">Word/phrase</label>
                        <input class="termCompare" type="text" id="terma" value="Word/phrase"/>

                        <div class="clear"></div>

                        <label for="statea">State</label>
                        <select name="statea" id="statea">
                            {% include "cwod/partials/state_select.html" %}
                        </select>

                        <div class="clear"></div>

                        <label for="partya">Party</label>
                        <select name="partya" id="partya">
                            <option value="">All parties</option>
                            <option value="D">Democrats</option>
                            <option value="R">Republicans</option>
                        </select>
                    </div>

                    <div class="termHolder">
                        <label for="termb">Word/phrase</label>
                        <input class="termCompare" type="text" id="termb" value="Word/phrase"/>

                        <div class="clear"></div>

                        <label for="stateb">State</label>
                        <select name="stateb" id="stateb">
                            {% include "cwod/partials/state_select.html" %}
                        </select>

                        <div class="clear"></div>

                        <label for="partyb">Party</label>
                        <select name="partyb" id="partyb">
                            <option value="">All parties</option>
                            <option value="D">Democrats</option>
                            <option value="R">Republicans</option>
                        </select>

                    </div>
                    <div class="termHolder">
                        <label for="termc">Word/phrase</label>
                        <input class="termCompare" type="text" id="termc" value="Word/phrase"/>

                        <div class="clear"></div>

                        <label for="statec">State</label>
                        <select name="statec" id="statec">
                            {% include "cwod/partials/state_select.html" %}
                        </select>

                        <div class="clear"></div>

                        <label for="partyc">Party</label>
                        <select name="partyc" id="partyc">
                            <option value="">All parties</option>
                            <option value="D">Democrats</option>
                            <option value="R">Republicans</option>
                        </select>
                    </div>
                </form>
            </div>

        <div class="clear"></div>

        <div style="margin-left: 300px; margin-top: 20px;">
        <a href="#" style="float: none !important;" id="compareBtn" class="buttonLink fullButton compareSubmit">Compare</a>
        </div>

        <div id="chart">
            <img class="default" src="http://chart.apis.google.com/chart?cht=lc&chs=800x300&chf=bg,s,00000000&chxt=x,y&chxl=0:|1996|1998|2000|2002|2004|2006|2008|2010|1:|&chxp=0,0,12,25,38,51,63,76,89|1,100&chls=2&chg=0,50,2,5" alt="Blank graph"/>
            <img class="realChart" src="http://chart.apis.google.com/chart?cht=lc&chs=800x300&chf=bg,s,00000000&chxt=x,y&chxl=0:|1996|1998|2000|2002|2004|2006|2008|2010|1:|&chxp=0,0,12,25,38,51,63,76,89|1,100&chls=2&chg=0,50,2,5" alt="Blank graph"/>
        </div>

        <div class="module">

            <div id="a" class="termHolder compareResult">
                <div class="termLabelHeader">
                    <h4 class="termLabel"></h4>
                </div>
                <div class="partyPieChart">
                    <img class="default" src="http://chart.apis.google.com/chart?cht=p&chs=220x150&chd=s:1&chf=bg,s,00000000&chco=4f4747" alt="Blank pie chart"/>
                    <img class="realChart" src="http://chart.apis.google.com/chart?cht=p&chs=220x150&chd=s:1&chf=bg,s,00000000&chco=4f4747" alt="Blank pie chart"/>
                </div>

                <a class="moreInfo" href="#"></a>

                <div style="margin-bottom:30px;" class="clear"></div>

                {% comment %}
                <h4>Popularity by state</h4>
                <ol class="barChart stateBarChart"></ol>

                <div class="clear"></div>

                <h4>Mentioned most often by</h4>
                <ol class="barChart legislatorBarChart"></ol>
                {% endcomment %}
            </div>

            <div id="b" class="termHolder compareResult">
                <div class="termLabelHeader">
                    <h4 class="termLabel"></h4>
                </div>
                <div class="partyPieChart">
                    <img class="default" src="http://chart.apis.google.com/chart?cht=p&chs=220x150&chd=s:1&chf=bg,s,00000000&chco=4f4747" alt="Blank pie chart"/>
                    <img class="realChart" src="http://chart.apis.google.com/chart?cht=p&chs=220x150&chd=s:1&chf=bg,s,00000000&chco=4f4747" alt="Blank pie chart"/>
                </div>

                <a class="moreInfo" href="#"></a>

                <div style="margin-bottom:30px;" class="clear"></div>

                {% comment %}
                <h4>Popularity by state</h4>
                <ol class="barChart stateBarChart"></ol>

                <div class="clear"></div>

                <h4>Mentioned most often by</h4>
                <ol class="barChart legislatorBarChart"></ol>
                {% endcomment %}
            </div>

            <div id="c" class="termHolder compareResult">
                <div class="termLabelHeader">
                    <h4 class="termLabel"></h4>
                </div>
                <div class="partyPieChart">
                    <img class="default" src="http://chart.apis.google.com/chart?cht=p&chs=220x150&chd=s:1&chf=bg,s,00000000&chco=4f4747" alt="Blank pie chart"/>
                    <img class="realChart" src="http://chart.apis.google.com/chart?cht=p&chs=220x150&chd=s:1&chf=bg,s,00000000&chco=4f4747" alt="Blank pie chart"/>
                </div>

                <a class="moreInfo" href="#"></a>

                <div style="margin-bottom:30px;" class="clear"></div>

                {% comment %}
                <h4>Popularity by state</h4>
                <ol class="barChart stateBarChart"></ol>

                <div class="clear"></div>

                <h4>Mentioned most often by</h4>
                <ol class="barChart legislatorBarChart"></ol>
                {% endcomment %}
            </div>

        </div>

    </div>

    </div>

    <div class="clear"></div>

{% endblock content %}

{% block javascript %}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

{% js "js/spin/spin.min.js" %}
<script>if ( typeof window.JSON === 'undefined' ) { document.write('<script src="/media/js/history/scripts/compressed/json2.js"><\/script>'); }</script>
{% js "js/history/scripts/compressed/amplify.store.js" %}
{% js "js/history/scripts/compressed/history.adapter.jquery.js" %}
{% js "js/history/scripts/compressed/history.js" %}
{% js "js/history/scripts/compressed/history.html4.js" %}

{% js "js/capwords.js?v=4787889194789" %}

{% endblock javascript %}
