{% extends "cwod/base.html" %}
{% load capwords %}
{% load typogrify_tags %}

{% block title %}{{ date|date:"F j, Y" }} | {{ block.super }}{% endblock title %}

{% block content %}
            <div id="main">
                <div id="internalHead">
                    <div id="dateDetail">
                        <h2 class="withButton">{{ date|date:"F j, Y" }}</h2>
                        <a class="editResults" href="{% url cwod_month_detail date.year date|date:"m" %}">Select a different date</a>
                        <div class="clear"></div>
                    </div>
                    {% include "cwod/partials/share_buttons.html" %}
                    <div class="clear"></div>
                    Jump to:
                    {% for chamber, entry_list in entries %}
                    {% if entry_list %}
                    <a href="#{{ chamber|slugify }}">{{ chamber }}</a>&nbsp;
                    {% endif %}
                    {% endfor %}

                </div>
                <div id="ltColumn">
                    <div class="module">
                        {% for chamber, entry_list in entries %}
                            {% if entry_list %}
                            <div class="rightHeader">
                                <h3>Entries in the Congressional Record</h3>
                                <span id="{{ chamber|slugify }}">{{ chamber }}</span>
                            </div>

                            <table class="crEntries">
                                <tbody>
                                {% for entry in entry_list %}
                                    <tr class="{% cycle 'odd' 'even' %}">
                                        <td>
                                            <table>
                                                <tr>
                                                    <td class="entTitle">
                                                      <a href="{% entry_detail_url entry.0.2 entry.0.0 %}">{{ entry.0.0|title|typogrify }}</a>
                                                      <p>{{ entry.0.3|truncatewords:30 }}</p>
                                                    </td>
                                                </tr>
                                                {% if entry.1|to_list|first %}{# (has speakers) #}
                                                <tr>
                                                    <td class="legislators">
                                                        Speaking: {% for member in entry.1|to_list|slice:"5" %}{% if member %}{{ member }}{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}{% if entry.1|length > 5 %}, others{%endif %}
                                                    </td>
                                                </tr>
                                                {% endif %}
                                            </table>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
                <div id="rtColumn">
                    <div class="leftModule">
                        <div class="leftHeader">
                            <h4>Top Words and Phrases</h4>
                            <span class="tip">{{ date|date:"F j, Y" }}</span>
                        </div>
                        <div class="ngramMenu">
                            Phrase size:
                            &nbsp;&nbsp;
                            <span id="selected" class="unigrams">One</span>
                            &nbsp;&nbsp;
                            <span class="bigrams">Two</span>
                            &nbsp;&nbsp;
                            <span class="trigrams">Three</span>
                            &nbsp;&nbsp;
                            <span class="quadgrams">Four</span>
                            &nbsp;&nbsp;
                            <span class="pentagrams">Five</span>
                        </div>

                        {% for gram_type, ngram_list in ngrams %}
                        <ol class="barChart" id="{{ gram_type }}">
                            {% for ngram in ngram_list %}
                            <li>
                                <span class="tagValue" style="width:{% widthratio ngram.tfidf ngram_list.0.tfidf 100 %}%;">
                                    <span class="tagPercent">{% widthratio ngram.tfidf ngram_list.0.tfidf 100 %}</span>
                                    <span class="tagNumber">{{ ngram.count }}</span>
                                </span>
                                <span class="barChartTitle"><a title="{{ ngram.count }} mentions, {{ ngram.tfidf }}% of all phrases spoken this day" href="{% url cwod_term_detail term=ngram.ngram %}">{{ ngram.ngram }}</a></span>
                            </li>
                            {% empty %}
                            <li>
                                <span class="empty">No phrases.</span>
                            </li>
                            {% endfor %}
                        </ol>
                        {% endfor %}
                    </div>

                    <div class="leftModule">
                        {% if similar_dates %}
                        <div class="leftHeader">
                            <h4>Similar dates</h4>
                        </div>
                        <ol class="barChart">
                            {% for similar_date in similar_dates|slice:"10" %}
                            <li>
                            {% with similar_date.date|date_parse as date %}
                                <span class="tagValue" style="width:{% widthratio similar_date.distance 1 100 %}%;"></span>
                                <span class="tagNumber"></span>
                                <span class="barChartTitle"><a href="{% url cwod_date_detail date.year date|date:"m" date|date:"d" %}">{{ date|date:"F j, Y" }}</a></span>
                            </li>
                            {% endwith %}
                            {% endfor %}
                        </ol>
                        {% endif %}
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

{% endblock %}
