{% load capwords %}
<div class="ngramMenu">
    Phrase size:
    &nbsp;&nbsp;
    <span id="selected" class="unigrams">One</span>
    &nbsp;&nbsp;
    <span class="bigrams">Two</span>
    &nbsp;&nbsp;
    <span class="trigrams">Three</span>
    &nbsp;&nbsp;
    <span class="quadgrams">Four</span>
    &nbsp;&nbsp;
    <span class="pentagrams">Five</span>
    {% comment %}
    <ol>
        <li class="unigrams">1</li>
        <li class="bigrams">2</li>
        <li class="trigrams">3</li>
        <li class="quadgrams">4</li>
        <li class="pentagrams">5</li>
    </ol>
    {% endcomment %}
</div>
{% for gram_type, ngram_list in ngrams %}
<ol class="barChart" id="{{ gram_type }}">
    {% for ngram in ngram_list %}
    <li>
        <span class="tagValue" style="width:{{ ngram.tfidf|divided_by:ngram_list.0.tfidf }}%;">
            <span class="tagPercent">{{ ngram.ngram_pct }}</span>
            <span class="tagNumber">{#{{ ngram.count }}#}</span> 
        </span> 
        <span class="barChartTitle"><a href="{% url cwod_term_detail term=ngram.ngram %}">{{ ngram.ngram }}</a></span>
    </li>
    {% endfor %}
</ol>
{% endfor %}

