{% load capwords %}
{% load typogrify_tags %}

                    <div class="module">
                        <div class="rightHeader">
                            <h3>Congressional Record entries</h3>
                        </div>
                        <table id="crEntries" class="crEntries">
                            <thead>
                                <tr>
                                    <th class="sort entTitle">Entry Title</th>
                                    <th class="sort entDate">Date</th>
                                </tr>
                            </thead>
                            <tbody>
	                            {% for entry in entries %}
                                <tr class="{% cycle 'even' 'odd' %}">
                                    <td colspan="2">
                                        <table>
                                                <tr>
                                                    <td class="entTitle"><a href="{% entry_detail_url entry.origin_url entry.title %}">{{ entry.title|smart_title|typogrify }}</a></td>
                                                    <td class="entDate">{{ entry.date|date_parse|date:"F j, Y" }}</td>
                                                </tr>
                                                <tr colspan="2">
                                                    <td colspan="2" class="legislators">
                                                    <a href="">{{ entry.speaker_first }} {{ entry.speaker_last }}, {{ entry.speaker_party }}-{{ entry.speaker_state }}</a>
                                                    </td>
                                                </tr>
                                                <tr colspan="2">
                                                    <td colspan="2" class="abstract">
                                                        "{{ entry.speaking.0 }}"
                                                    </td>
                                                </tr>
                                        </table>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
