{% load jsonify capwords %}<!DOCTYPE html>
<head>
<link rel="stylesheet" href="../../media/css/embed.css" type="text/css" media="screen,projection" charset="utf-8">
<link rel="stylesheet" href="../../media/css/jquery.ui/jquery.ui.all.css" type="text/css" media="screen,projection" charset="utf-8">
<script src="../../media/js/underscore/underscore-min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="../../media/js/google-chart.js" type="text/javascript" charset="utf-8"></script>
<script src="../../media/js/jquery.ui/jquery.ui.core.js" type="text/javascript" charset="utf-8"></script>
<script src="../../media/js/jquery.ui/jquery.ui.widget.js" type="text/javascript" charset="utf-8"></script>
<script src="../../media/js/jquery.ui/jquery.ui.mouse.js" type="text/javascript" charset="utf-8"></script>
<script src="../../media/js/jquery.ui/jquery.ui.slider.js" type="text/javascript" charset="utf-8"></script>
<script src="../../media/js/annotations.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div id="capWordsEmbed">
        <div class="{{ embed.get_chart_color_display|lower }}">
            <div id="ltColumn">
                <div class="module chartModule">
                    <div class="rightHeader withAction">
                        <h3><a href="{{ embed.url }}">{{ embed.title }}</a></h3>
                        {% ifequal embed.get_chart_type_display 'Double' %}
                        <div class="key">
                            <span class="wordOne"><span class="color"></span><a href"{% url cwod_term_detail term=embed.extra.terma %}" class="wordOne">"{{ embed.extra.terma|title }}"</a>
                              <span class="filters">[{{ embed.extra.statea|state_abbrev_to_full_or_all }}, {{ embed.extra.partya|party_initial_to_plural_name }}]</span>
                            </span>
                            <span class="wordTwo"><span class="color"></span><a href"{% url cwod_term_detail term=embed.extra.termb %}" class="wordTwo">"{{ embed.extra.termb|title }}"</a>
                              <span class="filters">[{{ embed.extra.stateb|state_abbrev_to_full_or_all }}, {{ embed.extra.partyb|party_initial_to_plural_name }}]</span>
                            </span>
                        </div>
                        {% endifequal %}
                    </div>
                    <div class="actionItem">
                        {% if embed.get_chart_type_display in 'By Party Overall'  %}
                        <form id="timelineToggle" action="" method="">
                            <ul class="partyBreakdown">
                                <li><input class="radio" type="radio" value="overall" {% ifequal embed.get_chart_type_display 'Overall' %}checked{% endifequal %} name="toggle" id="overallTimelineSelect"/><label for="overallTimelineSelect">Overall</label></li>
                                <li><input class="radio" type="radio" value="party" {% ifequal embed.get_chart_type_display 'By Party' %}checked{% endifequal %} name="toggle" id="partyTimelineSelect"/><label for="partyTimelineSelect">By party</label></li>
                                <!--{#<li><input class="radio" type="radio" name="toggle" id="customTimelineSelect"/><label for="customTimelineSelect">Custom</label></li>#}-->
                            </ul>
                            <div class="clear"></div>
                        </form>
                        {% endif %}
                        <form id="countToggle" action="" method="">

                            <div class="clear"></div>
                        </form>
                        <div class="clear"></div>
                    </div>
                    <div class="chart">
                        {% if embed.img_src %}
                        <div id="compareGraphic" style="{% ifnotequal embed.get_chart_type_display 'Double' %}display:none{% endifnotequal %}">
                            <img src="{{ embed.img_src }}"
                                 alt="Timeline of occurrences of {{ embed.terms }}"
                                 class="default"
                                 {% for url in embed.extra.dataurls %}data-dataurl{{ forloop.counter0 }}="{{ url }}"{% endfor %}
                                 />
                        </div>
                        {% endif %}
                        {% if embed.overall_img_src %}
                        <div id="overallTimeline" style="{% ifnotequal embed.get_chart_type_display 'Overall' %}display:none{% endifnotequal %}">
                            <img src="{{ embed.overall_img_src }}"
                                 alt="Timeline of occurrences of '{{ embed.terms }}'"
                                 {% for url in embed.extra.overall_dataurls %}data-dataurl="{{ url }}"{% endfor %}
                                 />
                        </div>
                        {% endif %}
                        {% if embed.by_party_img_src %}
                        <div id="partyTimeline" style="{% ifnotequal embed.get_chart_type_display 'By Party' %}display:none{% endifnotequal %}">
                            <img src="{{ embed.by_party_img_src }}"
                                 alt="Timeline of occurrences of '{{ embed.terms }}' by party"
                                 {% for url in embed.extra.by_party_dataurls %}data-dataurl{{ forloop.counter0 }}="{{ url }}"{% endfor %}
                                 />
                        </div>
                        {% endif %}
                        <!-- {% comment %}
                        <div id="customTimeline">
                            <form name="customizeGraph" action="" method="get" id="formtest">
                                <input type="hidden" name="term" id="term" value="{{ term }}"/>
                                <select name="party" id="partySelect">
                                    <option value="">All parties</option>
                                    <option value="D">Democrats</option>
                                    <option value="R">Republicans</option>
                                </select>
                                <select name="state" id="stateSelect">
                                    <option value="">All states</option>
                                    {% for abbrev, fullname in state_choices %}
                                    <option value="{{ abbrev }}">{{ fullname }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                            {% if timeline_url %}
                            <img id="customChart" src="{{ timeline_url }}" alt="Custom timeline of occurrences of '{{ term }}'"/>
                            {% endif %}
                        </div>
                        {% endcomment %} -->
                    </div>
                    <!-- <div id="timeline"></div>
                                        <div id="slider-range"></div> -->
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
      // GA Embedder properties
      var embedder, embedder_host;

      var matches_embedder_host = location.search.match(/embedder_host=([^&\?]+)/);
      if (matches_embedder_host)
        embedder_host = unescape(matches_embedder_host[1]);

      var matches_embedder = location.search.match(/embedder=([^&\?]+)/);
      if (matches_embedder)
        embedder = unescape(matches_embedder[1]);

      var overriddenReferrer = null;
    </script>
    <script type="text/javascript">
      // GA Include
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      // GA Custom Vars
      try {
        var pageTracker = _gat._getTracker("UA-1265484-18");

        // if the widget is embedded in an iframe, and on an iframe hosted elsewhere,
        // override the referer so we can track this like a regular link
        overriddenReferrer = false;
        if (embedder && (embedder_host != location.host)) {
          pageTracker._setReferrerOverride(embedder);
          overriddenReferrer = true; // for debugging purposes

          pageTracker._setCustomVar(
            1, // slot 1
            "Embedder Host",
            embedder_host,
            2 // session-level
          );

          pageTracker._setCustomVar(
            2, // slot 2
            "Embedder URL",
            embedder,
            2 // session-level
          );
        }

        pageTracker._setDomainName("none");
        pageTracker._setAllowLinker(true);
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
    <script type="text/javascript">
      // Widget bootstrap
      var $ = jQuery
        , chartData = {{ embed.extra|jsonify }}
        , startYear = {{ embed.start_date|date:"Y"|jsonify }}
        , startDate = {{ embed.start_date|date:"Ym"|jsonify }}
        , endYear = {{ embed.end_date|date:"Y"|jsonify }}
        , endDate = {{ embed.end_date|date:"Ym"|jsonify }}
        , chartType = {{ embed.get_chart_type_display|jsonify }}
        {% if embed.extra.term %}, termDetailTerm = {{ embed.extra.term|jsonify }}{% endif %}
        ;

      // toggle charts
      $('#timelineToggle').change(function(){
        var active = $(this).serializeArray()[0].value
        $('#' + active + 'Timeline').show().siblings().hide();
      });

      // annotations
      $('#compareGraphic img.default, #overallTimeline img, #partyTimeline img').each(function(){
          existingAnnotation = $(this).data('annotation');
          if(existingAnnotation)
            existingAnnotation.refresh();
          else{
            var heading = '<p class="meta">${verboseMonth}</p>';
            var template = '<p class="data"><span class="color-${i}"></span> ${count} ${noun} (${percentage}%)</p>';
            var iterable = function(data){
              var data = data.results;
              $.each(data, function(i, obj){
                var o,y,m,mos;
                o = obj.month;
                y = o.substr(0,4);
                m = parseInt(o.substr(4,2), 10);
                mos = ['', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                data[i].verboseMonth = mos[m] + ' ' + y;
                data[i].noun = (obj.count == 1) ? 'mention' : 'mentions';
              });
              return data
            };
            new Annotation(this, {iterable:iterable, heading:heading, template:template, startDate: startDate, endDate: endDate})
          };
      });


    </script>
</body>
</html>{% comment %}
<!--<!doctype html>
<html>
    <head>
    </head>

    <body>
        <a href="{{ url }}"><h1>{{ title }}</h1></a>
        <img src="{{ img_src }}"/>

<script type="text/javascript">
  var embedder, embedder_host;

  var matches_embedder_host = location.search.match(/embedder_host=([^&\?]+)/);
  if (matches_embedder_host)
    embedder_host = unescape(matches_embedder_host[1]);

  var matches_embedder = location.search.match(/embedder=([^&\?]+)/);
  if (matches_embedder)
    embedder = unescape(matches_embedder[1]);

  var overriddenReferrer = null;
</script>

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-1265484-18");

    // if the widget is embedded in an iframe, and on an iframe hosted elsewhere,
    // override the referer so we can track this like a regular link
    overriddenReferrer = false;
    if (embedder && (embedder_host != location.host)) {
      pageTracker._setReferrerOverride(embedder);
      overriddenReferrer = true; // for debugging purposes

      pageTracker._setCustomVar(
        1, // slot 1
        "Embedder Host",
        embedder_host,
        2 // session-level
      );

      pageTracker._setCustomVar(
        2, // slot 2
        "Embedder URL",
        embedder,
        2 // session-level
      );
    }

    pageTracker._setDomainName("none");
    pageTracker._setAllowLinker(true);
    pageTracker._trackPageview();
  } catch(err) {}
</script>

</body>

</html>-->

{% endcomment %}