{% extends "cwod/base.html" %}

{% load capwords %}
{% load typogrify_tags %}
{% load media %}

{% block content %}
            <div id="main">
                <div id="splash_image">
                    <img src="{% media_url 'img/bubble.jpg' %}" width="180" height="179" alt="Bubble">
					
                </div>
                <div id="splash_text">
					Dig up some data on the <em>words</em> our <em>legislators</em> use every day.
                </div>
				<div class="clear">
				</div>
                <div id="fullColumn">
					<div id="searchCompare">
						<form action="/search/" method="get" id="termSelect">
								<ul class="wordCompare">
									<li class="eachWord">
										<label>Pick a word or phrase</label>
									    <input id="terma" type="text"/>
										<ul class="wordFilter">
											<li>
												<label>State</label>
					                            <select name="state">
					                                <option value="state">Choose a State</option>
					                            </select>
											</li>
											<li>
					                            <label>Party</label>
					                            <select name="party">
					                                <option value="party">Choose a Party</option>
					                            </select>
											</li>
										</ul>
									</li>
									<li id="betweenItem">
										<span>and</span>
									</li>
									<li class="eachWord">
										<label>Pick a word or phrase</label>
									    <input id="termb" type="text"/>
										<ul class="wordFilter">
											<li>
												<label>State</label>
					                            <select name="state">
					                                <option value="state">Choose a State</option>
					                            </select>
											</li>
											<li>
					                            <label>Party</label>
					                            <select name="party">
					                                <option value="party">Choose a Party</option>
					                            </select>
											</li>
										</ul>
									</li>
									<li class="submit">
										 <span id="compareBtn" class="compareSubmit buttonLink fullButton" type="submit">
									         <span>Compare</span>
									     </button>
									</li>
									<li class="advanced">
										 <a href="">filter search</a>
									</li>
								</ul>
								<div class="clear"></div>
							</form>
					</div>
					<div id="compareGraphic">
                        <img class="default" width="860" height="340" src="http://chart.apis.google.com/chart?cht=lc&chs=860x340&chf=bg,s,00000000&chxt=x,y&chxl=0:|1996|1998|2000|2002|2004|2006|2008|2010|1:|&chxp=0,0,12,25,38,51,63,76,89|1,100&chls=2&chg=0,50,2,5" alt="Blank graph" style="border: 0;"/>
                        <div id="slider-range"></div>
					</div>
					<div id="todaysStats">
						<div class="one thirdColumn">
							<div class="leftHeader">
								<h4>Most Talkative Party</h4>
								<span class="tip">Today</span>
							</div>
							<div class="chart">
                                <img src="{% media_url 'img/placeholder_pie.png' %}" width="257" height="126" alt="Placeholder Pie">
							</div>
						</div>
						<div class="two thirdColumn">
							<div class="leftHeader">
								<h4>Most Frequent Words</h4>
								<span class="tip">Today</span>
							</div>
	                        <ol class="barChart">
	                            <li>
	                                <span class="tagValue" style="width:100%;">100%</span> 
	                                <span class="tagNumber"><a href="#">30</a></span> 
	                                <span class="barChartTitle"><a href="#">State Name</a></span>
	                            </li>
	                            <li>
	                                <span class="tagValue" style="width:80%;">80%</span> 
	                                <span class="tagNumber"><a href="#">30</a></span> 
	                                <span class="barChartTitle"><a href="#">State Name</a></span>
	                            </li>
	                            <li>
	                                <span class="tagValue" style="width:80%;">80%</span> 
	                                <span class="tagNumber"><a href="#">30</a></span> 
	                                <span class="barChartTitle"><a href="#">State Name</a></span>
	                            </li>
	                            <li>
	                                <span class="tagValue" style="width:70%;">70%</span> 
	                                <span class="tagNumber"><a href="#">30</a></span> 
	                                <span class="barChartTitle"><a href="#">State Name</a></span>
	                            </li>
	                            <li>
	                                <span class="tagValue" style="width:50%;">50%</span> 
	                                <span class="tagNumber"><a href="#">30</a></span> 
	                                <span class="barChartTitle"><a href="#">State Name</a></span>
	                            </li>
	                        </ol>
						</div>
						<div class="three thirdColumn">
							<div class="leftHeader">
								<h4>Chattiest Legislator</h4>
								<span class="tip">Today</span>
							</div>
	                        <ol class="barChart">
	                            <li>
	                                <span class="tagValue" style="width:100%;">100%</span> 
	                                <span class="tagNumber"><a href="#">30</a></span> 
	                                <span class="barChartTitle"><a href="#">State Name</a></span>
	                            </li>
	                            <li>
	                                <span class="tagValue" style="width:80%;">80%</span> 
	                                <span class="tagNumber"><a href="#">30</a></span> 
	                                <span class="barChartTitle"><a href="#">State Name</a></span>
	                            </li>
	                            <li>
	                                <span class="tagValue" style="width:80%;">80%</span> 
	                                <span class="tagNumber"><a href="#">30</a></span> 
	                                <span class="barChartTitle"><a href="#">State Name</a></span>
	                            </li>
	                            <li>
	                                <span class="tagValue" style="width:70%;">70%</span> 
	                                <span class="tagNumber"><a href="#">30</a></span> 
	                                <span class="barChartTitle"><a href="#">State Name</a></span>
	                            </li>
	                            <li>
	                                <span class="tagValue" style="width:50%;">50%</span> 
	                                <span class="tagNumber"><a href="#">30</a></span> 
	                                <span class="barChartTitle"><a href="#">State Name</a></span>
	                            </li>
	                        </ol>
						</div>
					</div>
                </div>      
                <div class="clear"></div>                
            </div>
        </div>

{% endblock content %}
