{% extends "cwod/base.html" %}

{% load capwords %}
{% load typogrify_tags %}
{% load media %}

{% block title %}Legislators | {{ block.super }}{% endblock title %}

{% block content %}
            <div id="main">
                <div id="internalHead">
                    <div id="social icons">

                    </div>
                    <div id="searchDetail">
                        <h2>Legislators</h2>
                        <div class="clear"></div>
                    </div>
                       <div class="clear"></div>
                </div>

                <div id="ltColumn" class="search">
                    <div class="leftModule">
                        <div class="rightHeader">
                            <h4>Filter Legislators</h4>

                        </div>
                        <div id="searchFilterWrapper">

                            <form id="searchFilter" class="actionItem" action="" method="">
                                <ul>
                                    <li>
                                        <label>Chamber</label>
                                        <select id="chamber" name="chamber">
                                            <option value=""></option>
                                            <option value="House">House</option>
                                            <option value="Senate">Senate</option>
                                        </select>
                                    </li>
                                    <li>
                                        <label>Party</label>
                                        <select id="party" name="party">
                                            <option value=""></option>
                                            <option value="D">Democratic</option>
                                            <option value="R">Republican</option>
                                            <option value="3">Other</option>
                                        </select>
                                    </li>
                                    <li>
                                        <label>State</label>
                                        <select id="state" name="state">
                                            <option value=""></option>
                                            {% for abbrev, state in state_choices %}
                                            <option value="{{ abbrev }}">{{ state }}</option>
                                            {% endfor %}
                                        </select>
                                    </li>
                                    <li>
                                        <label>Congress</label>
                                        <select id="congress" name="congress">
                                            {#<option value=""></option>#}
                                            {% for congress in congresses %}
                                            <option value="{{ congress }}" {% if forloop.first %}selected{% endif %}>{{ congress }}</option>
                                            {% endfor %}
                                        </select>
                                    </li>
                                    <li class="submit">
                                        <span id="searchFilterButton" class="buttonLink fullButton">Filter</button>
                                    </li>
                                </ul>
                            </form>
                        </div>

                    </div>
                </div>

                <div id="rtColumn" class="search">
                    <div class="module">
                        <table id="legislatorList">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="sort legName">Name</th>
                                    <th class="sort">State</th>
                                    <th class="sort">Party</th>
                                    <th class="sort">Chamber</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% comment %}
                                {% for legislator in current_legislators %}
                                <tr class="{% cycle 'even' 'odd' %}">
                                    <td><img class="legislatorImage" alt="legislator photo" src="{% legislator_thumbnail legislator.bioguide_id 40x50 %}" /></td>
                                    <td><a href="{% url cwod_legislator_detail bioguide_id=legislator.bioguide_id slug=legislator.slug %}">{{ legislator }}</a></td>
                                    <td>{{ legislator.state }}</td>
                                    <td>{{ legislator.party }}</td>
                                    <td>{{ legislator.chamber }}</td>
                                </tr>
                                {% endfor %}
                                {% endcomment %}
                            </tbody>
                        </table>
                    </div>
                </div>  
    
                <div class="clear"></div>
            </div>
        </div>

{% endblock content %}
