{% extends "cwod/base.html" %}
{% load capwords %}

{% block title %}{{ legislator.full_name }} | {{ block.super }}{% endblock title %}

{% block content %}
<div id="main">
    <div id="internalHead">
        <div id="social icons"></div>
            <img class="legislatorImage" alt="legislator photo" src="{% legislator_thumbnail legislator.bioguide_id 40x50 %}" />
            <div id="legislatorDetail">
                <h2 class="withButton">{{ legislator.full_name }}</h2>
                <a class="editResults" href="{% url cwod_legislator_list %}">Select a Different Legislator</a>
                <div class="clear"></div>
                <dl class="metaData">
                    <dt>Party</dt>
                    <dd class="withBar">{{ legislator.party|party_initial_to_abbrev }}</dd>

                    <dt>State{% ifequal legislator.honorific "Rep." %} and District{% endifequal %}</dt>
                    <dd><a href="{% url cwod_state_detail state=legislator.state %}">{{ legislator.state|state_abbrev_to_full }}</a>{% ifequal legislator.honorific "Rep." %}, District {{ legislator.district }}{% endifequal %}</dd>
                </dl>
            </div>
            <div class="clear"></div>
        </div>
        <div id="ltColumn">
            {% if legislator.current %}
            {% comment %}
            <div id="timeFilterWrapper">
                <form id="timeFilter" class="actionItem" action="" method="">
                    <label>Time frame</label>
                    <select name="time">
                        <option value="current">Current session</option>
                        <option value="career">Career</option>
                    </select>
                </form>
            </div>
            {% endcomment %}
            {% endif %}
            <div class="module">
                <div class="rightHeader">
                    <h3>Top Words &amp; Phrases</h3>
                    <span class="tip">Bars represent popularity relative to top phrase</span>
                </div>
                {% include "cwod/detail_page_ngram_list.html" %}
            </div>

            {% include "cwod/detail_congressional_record_list.html" %}

        </div>
        {% if similar_legislators %}
        <div id="rtColumn">
            <div class="leftModule">
                <div class="leftHeader">
                    <h4>Similar Legislators</h4>
                </div>
                <ul class="normalList">
                    {% for i in similar_legislators|slice:"5" %}
                    <li>
                        <img class="legislatorImage" alt="legislator photo" src="{% legislator_thumbnail i.legislator.bioguide_id 40x50 %}" />
                        {#<span class="percentMatch">{{ i.distance }}  Match</span>#}
                        <h5><a href="{% url cwod_legislator_detail bioguide_id=i.bioguide slug=i.legislator.slug %}">{{ i.legislator.honorific }} {{ i.legislator.full_name }}</a></h5>
                        <div class="clear"></div>
                        <dl class="metaData clear">
                            <dt>Party</dt>
                            <dd class="withBar">{{ i.legislator.party|party_initial_to_abbrev }}</dd>

                            <dt>State{% ifequal i.legislator.honorific "Rep." %} and District{% endifequal %}</dt>
                            <dd>{{ i.legislator.state|state_abbrev_to_full }}{% ifequal i.legislator.honorific "Rep." %}, District {{ i.legislator.district }}{% endifequal %}</dd>
                        </dl>
                        <div class="clear"></div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="clear"></div>
    </div>
</div>
{% endblock content %}
