{% extends "cwod/base.html" %}
{% load capwords %}

{% block title %}{{ legislator.name }} | {{ block.super }}{% endblock title %}

{% block content %}
<div id="main">
    <div id="internalHead">
        <div id="social icons"></div>
<img class="legislatorImage" alt="legislator photo" src="{% legislator_thumbnail legislator.bioguide_id 40x50 %}" />
<div id="legislatorDetail">
    <h2 class="withButton">{{ legislator.name }}</h2>
    <a class="editResults" href="{% url cwod_legislator_list %}">Select a Different Legislator</a>
    <div class="clear"></div>
    <dl class="metaData">
        <dt>Party</dt>
        <dd class="withBar">{{ legislator.verbose_party }}</dd>
    
        <dt>State{% ifequal legislator.honorific "Rep." %} and District{% endifequal %}</dt>
        <dd><a href="{% url cwod_state_detail state=legislator.state %}">{{ legislator.verbose_state }}</a>{% ifequal legislator.honorific "Rep." %}, District {{ legislator.district }}{% endifequal %}</dd>
    </dl>
					</div>
                    {% comment %}
                    <ul id="legislatorMedia">
                        <li id="youtubeButton"><a title="YouTube" href="#">YouTube</a></li>
						<li id="twitterButton"><a title="Twitter" href="#">Twitter</a></li>
						<li id="webButton"><a title="Website" href="#">Website</a></li>
                    </ul>    
                    {% endcomment %}
                    <div class="clear"></div>
                </div>
                <div id="ltColumn">
                    {% if legislator.current %}
					<div id="timeFilterWrapper">
                        <form id="timeFilter" class="actionItem" action="" method="">
                            <label>Time frame</label>
                            <select name="time">
                                <option value="current">Current session</option>
                                <option value="career">Career</option>
                            </select>
                        </form>    
                    </div>
                    {% endif %}
                    <div class="module">
                        <div class="rightHeader">
                            <h3>Top Words & Phrases</h3>
                            <span class="tip">Current session</span>
                        </div>
                        {% include "cwod/detail_page_ngram_list.html" %}
                    </div>

                    {% include "cwod/detail_congressional_record_list.html" %}

                </div>  
                <div id="rtColumn">
                    <div class="leftModule">
                        <div class="leftHeader">
                            <h4>Similar Legislators</h4>
                        </div>
  						<ul class="normalList">
                            {% for i in similar_legislators|slice:"5" %}
							<li>
                                <img class="legislatorImage" alt="legislator photo" src="{% legislator_thumbnail i.legislator.bioguide_id 40x50 %}" />
                                {#<span class="percentMatch">{{ i.distance }}  Match</span>#}
                                <h5><a href="{% url cwod_legislator_detail bioguide_id=i.bioguide slug=i.legislator.slug %}">{{ i.legislator.honorific }} {{ i.legislator.name }}</a></h5>
								<div class="clear"></div>
								<dl class="metaData clear">
			                        <dt>Party</dt>
                                    <dd class="withBar">{{ i.legislator.verbose_party }}</dd>

                                    <dt>State{% ifequal i.legislator.honorific "Rep." %} and District{% endifequal %}</dt>
                                    <dd>{{ i.legislator.verbose_state }}{% ifequal i.legislator.honorific "Rep." %}, District {{ i.legislator.district }}{% endifequal %}</dd>
			                    </dl>
								<div class="clear"></div>
							</li>
                            {% endfor %}
						</ul>
                    </div>
                </div>    
                <div class="clear"></div>
            </div>
        </div>
{% endblock content %}
