{% extends "cwod/base.html" %}
{% load capwords %}
{% load typogrify_tags %}

{% block title %}{{ month_name }} {{ year }} | {{ block.super }}{% endblock title %}

{% block content %}

            <div id="main">
                <div id="internalHead">
                    <h2 class="withButton">{{ month_name }} {{ year }}</h2>
                    <a class="editResults" href="{% url cwod_calendar %}">Select a Different Month</a>
                    <div class="clear"></div>
                </div>

                <div id="ltColumn">
                    <div class="module">
                        <div class="rightHeader">
                            <h3>Top Words & Phrases</h3>
                        </div>
                    </div>
                    {% include "cwod/detail_page_ngram_list.html" %}
                </div>

                <div id="rtColumn">
                    <div class="leftModule">
                        <div class="leftHeader">
                            <h4>Dates</h4>
                        </div>
                        {% for week, dates in dates_by_week %}
                        <ol style="margin-bottom: 20px;">
                            {% for date in dates %}
                            <li><a href="{{ date.get_absolute_url }}">{{ date.date|date:"l, F j" }}</a></li>
                            {% endfor %}
                        </ol>
                        {% endfor %}
                    </div>
                </div>

                <div class="clear"></div>

            </div>

{% endblock content %}

