{% extends "cwod/base.html" %}

{% block head %}
<title>{{ legislator.name }} | Capitol Words</title>
{% endblock head %}

{% block content %}
<img src="http://assets.sunlightfoundation.com/moc/100x125/{{ legislator.bioguide_id }}.jpg"/>
<h1>{{ legislator.honorific }} {{ legislator.name }}</h1>
<h2><a href="{% url cwod_party_detail party=legislator.party %}">{{ legislator.verbose_party }}</a> | <a href="{% url cwod_state_detail state=legislator.state %}">{{ legislator.verbose_state }}</a></h2>

<h3>Legislators that use similar words</h3>
{% for i in similar_legislators %}
<li>
    <img src="http://assets.sunlightfoundation.com/moc/40x50/{{ i.bioguide }}.jpg"/>
    <a href="{% url cwod_legislator_detail bioguide_id=i.bioguide slug=i.legislator.slug %}">{{ i.legislator.honorific }} {{ i.legislator.name }}</a> 
    ({{ i.legislator.party }}-{{ i.legislator.state }}) {{ i.distance }}
</li>
{% endfor %}

<h3>Popular words and phrases</h3>
{% for i in popular_terms %}
<li><a href="{% url cwod_term_detail term=i.ngram %}">{{ i.ngram }}</a></li>
{% endfor %}

{% for entry in entries %}
<li>
<h4>{{ entry.title }}</h4>
<p>{{ entry.date }}</p>
{% for paragraph in entry.speaking|slice:"3" %}
    <p>{{ paragraph }}</p>
{% endfor %}
</li>
{% endfor %}

{% endblock content %}
