{% extends "cwod/base.html" %}

{% load capwords %}
{% load typogrify_tags %}
{% load media %}

{% block title %}States | {{ block.super }}{% endblock title %}

{% block content %}


            <div id="main">
                <div id="internalHead">
                        <h2>States</h2>
                        <div class="clear"></div>
                </div>
                <div id="ltColumn" class="index" style="width: 100%">
                    <div class="states module">
                        <ul class="normalList">
                        {% for state_chunk in state_chunks %}
                            {% for item in state_chunk %}
                            <li><a href="{% url cwod_state_detail state=item.0 %}">{{ item.1 }}</a>
                            <br/>
                            Top words:
                            {% for ngram in item.2 %}
                            <a href="{% url cwod_term_detail term=ngram.ngram %}"><em>{{ ngram.ngram }}</em></a>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                            </li>
                            {% endfor %}
                        {% endfor %}
                        </ul>
                        <div class="clear"></div>
                    </div>

                </div>
                <div class="clear"></div>
            </div>
        </div>



{% endblock content %}

