{% extends "cwod/base.html" %}

{% load capwords %}
{% load typogrify_tags %}
{% load media %}

{% block content %}


            <div id="main">
                <div id="internalHead">
                        <h2>States</h2>
                        <div class="clear"></div>
                </div>
                <div id="ltColumn" class="index" style="width: 100%">
                    {% comment %}
                </div>
                <div id="rtColumn" class="index">
                    {% endcomment %}
                    <div class="states module">
                        {% for state_chunk in state_chunks %}
                        <ul class="normalList">
                            {% for item in state_chunk %}
                            <li><a href="{% url cwod_state_detail state=item.0 %}">{{ item.1 }}</a>
                            <br/>
                            Top words:
                            {% for ngram in item.2 %}
                                {{ ngram.ngram }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endfor %}

                        <div class="clear"></div>
                    </div>

                </div>
                <div class="clear"></div>
            </div>
        </div>



{% endblock content %}

