{% extends "cwod/base.html" %}
{% load media %}
{% load capwords %}

{% block title %}{{ state_name }} | {{ block.super }}{% endblock title %}
{% block content %}
            <div id="main">
                <div id="internalHead">
                    <div id="social icons">

                    </div>
					<div id="stateDetail">
                        <h2 class="withButton">{{ state_name }}</h2>
                        <a class="editResults" href="{% url cwod_state_list %}">Select a Different State</a>
						<div class="clear"></div>
					</div>
                       <div class="clear"></div>
					<div id="timeFilterWrapper">
                        <form id="timeFilter" class="actionItem" action="" method="">
                            <label>Time frame</label>
                            <select name="time">
                                <option value="current">Current session</option>
                                <option value="career">All sessions</option>
                            </select>
                        </form>    
                    </div>
                </div>
                <div id="ltColumn">

                    <div class="module">
                        <div class="rightHeader">
                            <h3>Top Words & Phrases</h3>
                            <span class="tip">Current session</span>
                        </div>
                        {% include "cwod/detail_page_ngram_list.html" %}
                    </div>
                    <div class="module">
                        <div class="rightHeader">
                            <h3>Current {{ state_name }} Legislators</h3>
                        </div>
						<table>
							<thead>
								<tr>
									<th class="sort legName">Name</th>
									<th class="sort">District</th>
									<th class="sort">Party</th>
								</tr>
							</thead>
							<tbody>
                                {% for body, legislators in bodies %}
                                    {% for legislator in legislators %}
                                    <tr class="{% cycle 'odd' 'even' %}">
                                        <td><a href="{% url cwod_legislator_detail bioguide_id=legislator.bioguide_id slug=legislator.slug %}">{{ legislator.honorific }} {{ legislator.name }}</a></td>
                                        <td>
                                            {% if legislator.district != 'N/A' %}
                                                {{ legislator.district }}
                                            {% endif %}
                                        </td>
                                        <td>{{ legislator.party }}</td>
                                    </tr>
                                    {% endfor %}
                                {% endfor %}
							</tbody>
						</table>
                    </div>

                    {% include "cwod/detail_congressional_record_list.html" %}
                </div>  

                <div id="rtColumn">
                    <div class="leftModule">
                        <div class="leftHeader">
                            <h4>Similar States</h4>
                        </div>
                        <div class="chart">
                            <ol class="barChart">
                                {% for i in similar_states|slice:"15" %}
                                <li>
                                    <span class="tagValue" style="width:{{ i.distance|decimal_to_percent }}%">
                                        <span class="tagPercent">{{ i.distance }}</span>
                                        <span class="tagNumber"></span>
                                    </span>
                                    <span class="barChartTitle"><a href="{% url cwod_state_detail state=i.state %}">{{ i.state|state_abbrev_to_full }}</a></span>
                                </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>    
                <div class="clear"></div>
            </div>
        </div>
{% endblock content %}
