{% extends "cwod/base.html" %}

{% load capwords %}
{% load typogrify_tags %}

{% block head %}
{% if needs_js %}
<noscript>
    <meta http-equiv="refresh" content="0;URL={{ no_js_uri|safe }}">
</noscript>
{% endif %}
{{ block.super }}
<script type="text/javascript">var termDetailTerm = "{{ term }}";</script>
{% endblock head %}

{% block title %}{{ term }} | {{ block.super }}{% endblock title %}

{% block content %}

            <div id="main">
                <div id="internalHead">
                    <div id="social icons">

                    </div>
                    <h2 class="withButton">{{ term }}</h2>
                    <a id="compareBtn" class="buttonLink fullButton" href="{% url cwod_home %}">Compare <em>{{ term }}</em></a>
                    <div class="clear"></div>
                </div>
                <div id="ltColumn">
                    <div class="module chartModule">
                        <div class="rightHeader withAction">
                            <h3>Occurrences over time</h3>
                        </div>
                        <form id="timelineToggle" class="actionItem" action="" method="">
                            <ul class="partyBreakdown">
                                <li><input class="radio" type="radio" checked name="toggle" id="overallTimelineSelect"/><label for="overallTimelineSelect">Overall</label></li>
                                <li><input class="radio" type="radio" name="toggle" id="partyTimelineSelect"/><label for="partyTimelineSelect">By party</label></li>
                                {#<li><input class="radio" type="radio" name="toggle" id="customTimelineSelect"/><label for="customTimelineSelect">Custom</label></li>#}
                            </ul>
                            <div class="clear"></div>
                        </form>
                        <div class="chart">
                            <div id="overallTimeline">
                                {% if timeline_url %}
                                <img src="{{ timeline_url }}" alt="Timeline of occurrences of '{{ term }}'"/>
                                {% endif %}
                            </div>
                            <div id="partyTimeline">
                                {% if party_timeline_url %}
                                <img src="{{ party_timeline_url }}" alt="Timeline of occurrences of '{{ term }}' by party"/>
                                {% endif %}
                            </div>
                            {% comment %}
                            <div id="customTimeline">
                                <form name="customizeGraph" action="" method="get" id="formtest">
                                    <input type="hidden" name="term" id="term" value="{{ term }}"/>
                                    <select name="party" id="partySelect">
                                        <option value="">All parties</option>
                                        <option value="D">Democrats</option>
                                        <option value="R">Republicans</option>
                                    </select>
                                    <select name="state" id="stateSelect">
                                        <option value="">All states</option>
                                        {% for abbrev, fullname in state_choices %}
                                        <option value="{{ abbrev }}">{{ fullname }}</option>
                                        {% endfor %}
                                    </select>
                                </form>
                                {% if timeline_url %}
                                <img id="customChart" src="{{ timeline_url }}" alt="Custom timeline of occurrences of '{{ term }}'"/>
                                {% endif %}
                            </div>
                            {% endcomment %}
                        </div>
                        <div id="timeline"></div>
                        <div id="slider-range"></div>
                    </div> 
                    <div class="module">
                        <div class="rightHeader">
                            <h3>Mentioned most often by</h3>
                        </div>
                        <ol class="barChart" id="legislatorBarChart">
                            {% with legislators.0.count as base_count %}

                            {% for legislator in legislators %}
                            <li>
                                <span class="tagValue" style="width:{{ legislator.count|divided_by:base_count }}%;">
                                    <span class="tagPercent">{{ legislator.count|divided_by:base_count }}%</span>
                                    <span class="tagNumber"></span>
                                </span>
                                <span class="barChartTitle"><a href="{% url cwod_legislator_detail bioguide_id=legislator.legislator.bioguide_id slug=legislator.legislator.slug %}">{{ legislator.legislator.honorific }} {{ legislator.legislator.name }}, {{ legislator.legislator.party }}-{{ legislator.legislator.state }}</a></span>
                            </li>
                            {% endfor %}

                            {% endwith %}
                        </ol>    
                    </div>
                    <div class="module">
                        <div class="rightHeader">
                            <h3>Occurrences in the Congressional Record</h3>
                        </div>
                        <ul id="crEntries">
                            {% for entry in entries|slice:"5" %}
                            <li>
                            <h5><a href="{% entry_detail_url entry.origin_url entry.title %}">{{ entry.title|smart_title|typogrify }}</a></h5>
                            <p>{{ entry.speaker_first }} {{ entry.speaker_last }}, {{ entry.speaker_party }}-{{ entry.speaker_state }}</p>
                            <p>{{ entry.date|date_parse|date:"F j, Y" }}</p>
                                <p>{{ entry.match|safe|typogrify }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    </div>
                </div>  
                <div id="rtColumn">
                    <div class="leftModule">
                        <div class="leftHeader">
                            <h4>Popularity by state</h4>
                        </div>
                        <ol class="barChart" id="stateBarChart">
                            {% with states.0.count as base_count %}

                            {% for state in states %}
                            <li>
                                <span class="tagValue" style="width:{{ state.count|divided_by:base_count }}%;">
                                    <span class="tagPercent">{{ state.count|divided_by:base_count }}%</span>
                                    <span class="tagNumber"></span>
                                </span>
                                <span class="barChartTitle"><a href="{% url cwod_state_detail state.state %}">{{ state.state|state_abbrev_to_full }}</a></span>
                            </li>
                            {% endfor %}

                            {% endwith %}
                        </ol>    
                    </div>
                    <div class="leftModule">
                        <h4>Popularity by party</h4>
                        <div class="chart" id="partyPieChart">
                            {% if party_pie_url %}
                            <img class="realChart" src="{{ party_pie_url }}" alt="Pie chart of occurrences of '{{ term }}' by party" style="border: 0;"/>
                            {% else %}
                            <img class="realChart" src="{{ party_pie_url }}" alt="Pie chart of occurrences of '{{ term }}' by party" style="border: 0; display: none;"/>
                            <img class="default" src="" style="display: none;"/>
                            {% endif %}
                        </div>
                    </div>
                    {% if tree %}
                    <div class="leftModule">
                        <div class="leftHeader">
                            <h4>Often followed by</h4>
                        </div>
                        <ol class="barChart">
                            {% for next in tree|slice:"10" %}
                            <li>
                                <span class="barChartTitle"><a href="{% url cwod_term_detail term=next.phrase|underscorify %}">{{ next.phrase }}</a></span>
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                    {% endif %}
                </div>    
                <div class="clear"></div>
            </div>
        </div>


{% endblock content %}
