BeautifulSoup==3.2.0
Django==1.3
MySQL-python==1.2.3
PyYAML==3.11
argparse==1.2.1
boto==2.0
distribute>=0.6.21
django-debug-toolbar==0.8.5
simplejson==3.10.0
-e hg+https://bitbucket.org/schinckel/django-jsonfield@0.7.1#egg=django_jsonfield-dev
-e git+https://github.com/Kazanir/django-locksmith.git#egg=django_locksmith-0.5.0
django-mediasync==2.2.0
django-piston==0.2.3
-e git+https://github.com/dvogel/django-postmark.git#egg=django_postmark-dev
django-typogrify==1.2.2
gunicorn
httplib2
ipython==0.10.1
lxml==2.3
mimeparse==0.1.3
markdown
name-tools==0.1.2
nltk>=2.0
numpy==1.8.0
-e git+https://github.com/gak/pygooglechart.git#egg=pygooglechart-dev
python-dateutil==1.5
python-memcached
python-sunlightapi==1.0.0


