.HeaderBar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.02);
}

.HeaderBar-title {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  color: #fff;
}

.HeaderBar-tagline {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}

